/*==================================
	Geral
==================================*/

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:hover {
    transition: all 0.2s ease-out;
}

:focus {
    outline: none;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;

    position: relative;

    background: #fff;

    font-size: 10px;
    color: #171717;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    scroll-behavior: smooth;
}

img,
picture,
video,
embed,
iframe,
audio {
    max-width: 100%;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    height: 50px;
    padding: 0 20px;

    background: #fff;
    border: 1px solid #acacac;
    border-radius: 10px;

    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: #333;
}

button {
    width: 100%;
    height: 65px;
    margin-top: 20px;

    background: #07c154;
    border-radius: 10px;
    cursor: pointer;

    font-size: 1.6rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

label {
    display: block;
    margin: 20px 0 5px;

    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    color: #6f6f6f;
}

label:first-child {
    margin-top: 0;
}

h1 {
    margin-bottom: 40px;

    font-size: 4.2rem;
    line-height: 6rem;
    font-weight: 700;
}

h2 {
    margin-top: 20px;
    
    font-size: 1.8rem;
    font-weight: 900;
}

p {    
    font-size: 1.6rem;
    line-height: 3rem;
    color: #6f6f6f;
}

.banner-intro {
    width: 100%;
    height: auto;
    padding: 50px 40px 100px;

    background: #031033;

    color: #fff;
}

.banner-intro .logo-canalfy,
.banner-intro .title-banner {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}

.banner-intro .logo-canalfy figure {
    display: flex;
}

.banner-intro .logo-canalfy figure img {
    height: 30px;
    margin-bottom: 75px;
}

.banner-intro .logo-canalfy figure figcaption {
    padding-left: 10px;
    font-size: 1.8rem;
    font-weight: 700;
}

.banner-intro .title-banner h1 span {
    display: block;
}

.intro-text {
    max-width: 1200px;
    padding: 40px 40px;
    margin: -50px auto 50px;

    background: #07c154;
    box-shadow: 5px 5px 0 #06a348;
}

.intro-text p {
    color: #fff;
}

.box {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}

.box .title {
    max-width: 480px;
    margin: 80px auto;

    text-align: center;
}

.box .form-area {
}

.box .form-area .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.box .form-area .form .input {
    position: relative;
}

.box .form-area .form .dinner input {
    padding-left: 40px;
}

.box .form-area .form .input .money-input {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    font-size: 1.3rem;
    color: #333;
}

.box .form-area .form .input .percent-input {
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    font-size: 1.3rem;
    color: #333;
}

.box .form-area .resume {
    height: 100%;
    padding: 40px;

    background: #f2f2f2;
    border: 1px dashed #acacac;
    border-radius: 10px;

    text-align: center;
}

.box .form-area .resume .resume-placeholder {
    max-width: 468px;
    margin: 0 auto;

    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 400;
    color: #6f6f6f;   
}

.box .form-area .resume .resume-results {
    display: none;
    max-width: 468px;
    margin: 0 auto;
}

.box .form-area .resume .resume-results h1 {
    font-size: 4.2rem;
    line-height: 6rem;
    color: #6f6f6f;
}

.box .form-area .resume .resume-results a {
    position: relative;

    display: inline-block;
    margin-top: 20px;

    font-weight: 900;
    color: #07c154;
    text-decoration: none;
}

.table-results {
    position: relative;

    margin: 80px 0;

    overflow-x: scroll;
}

.table-results::before {
    position: absolute;
    top: 0;
    left: 0;

    content: '';

    width: 100%;
    height: 100%;

    background: #fff;
    backdrop-filter: blur(120px);
    opacity: .95;

    display: none;
}

.table-results .tab-head {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    align-items: center;
    gap: 10px;
    padding: 20px;

    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 900;
    color: #6f6f6f;
    text-align: center;
}

.table-results .tab-col {
    width: 180px;
}

.table-results .tab-body .tab-line {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    align-items: center;
    gap: 10px;
    padding: 20px;

    font-size: 1.4rem;
    line-height: 2rem;
    color: #6f6f6f;
    text-align: left;
}

.table-results .tab-body .tab-line .tab-col:first-child {
    font-weight: 900;
    text-align: left;
    color: #031033;
}

.table-results .tab-body .tab-line.monthly-line {
    font-weight: 900;
    color: #031033;
}

.table-results .tab-col {
    min-width: 180px;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .intro-text {
        margin: -50px 40px 50px;
    }
}

@media screen and (max-width: 520px) {
    .banner-intro,
    .banner-intro .logo-canalfy,
    .banner-intro .title-banner,
    .box {
        padding: 20px;
    }

    .intro-text {
        margin: -50px 20px 50px;
    }

    .box .form-area .form {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 2.4rem;
        line-height: 4rem;
        margin-bottom: 80px;
    }

    p {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .banner-intro .logo-canalfy figure img {
        margin-bottom: 25px;
    }

    .banner-intro .logo-canalfy figure figcaption {
        font-size: 1.2rem;
    }
}